# hugo-exporter
alias cpt='cd /home/morethan/GitHub/Hugo-Blowfish-Exporter && cp main.js styles.css /mnt/E/Obsidian/Data/网站/.obsidian/plugins/hugo-blowfish-exporter/'

# cargo
alias cr='cargo run'

# wireguard
alias wgup='sudo wg-quick up wg0'
alias wgdown='sudo wg-quick down wg0'
alias wgstatus='sudo wg show'
alias wgedit='sudoedit /etc/wireguard/wg0.conf'
alias wgwatch='watch -n 2 sudo wg show'


# helix
alias hx='helix'


# rime
alias cdrime='cd ~/.local/share/fcitx5/rime'

# grep
alias grep='grep --color=auto'


# system
alias seeu='systemctl poweroff'
alias again='systemctl reboot'
alias scu='systemctl --user'
alias sc='sudo systemctl'
alias jcu='journalctl --user'
alias jc='sudo journalctl'
alias whichcmd='ps -o cmd -p'


# ls
alias ls='ls --color=auto'
alias ll='ls -ahlF'
alias la='ls -A'
alias l='ls -CF'


# backgroud predix function
# &! zsh specific syntax, dispatch process from current shell
# >/dev/null 2>&1 ignore debugging output, make your shell clean
open_bg() {
  ( "$@" >/dev/null 2>&1 &! )
}

# suffix aliases
# run silently
alias -s mp4='open_bg mpv'
alias -s wav='open_bg mpv'
alias -s pdf='open_bg zathura'
alias -s png='open_bg gthumb'
alias -s jpg='open_bg gthumb'
alias -s svg='open_bg gthumb'

# block
alias -s json='helix'
alias -s md='helix'
